<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.owasp.seraphimdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--
    Google Maps API Key
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyBMstdb-hF1qkb_mO9gvcxzrHMjwFz7DY8" />
    -->

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <uses-library android:name="com.google.android.maps" />
        <!-- Activity Declarations -->
        <activity
            android:name="org.owasp.seraphimdroid.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.PasswordActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.PermissionDescription"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" >
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.ChangePasswordActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="seraphimdroid.intent.change_password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.BlacklistActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="seraphimdroid.intent.blacklist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="org.owasp.seraphimdroid.CustomUSSDActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="seraphimdroid.intent.custom_ussd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.AddBlacklistContactActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" >
        </activity>
        <activity
            android:name="org.owasp.seraphimdroid.LogDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" >
        </activity>

        <!-- Service Declaration -->
        <service
            android:name="org.owasp.seraphimdroid.services.AppLockService"
            android:stopWithTask="false" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.KillBackgroundService" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.MakeACallService" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.GeoFencingService" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.GPSTracker" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.OutGoingSmsRecepter" >
        </service>
        <service android:name="org.owasp.seraphimdroid.services.AppInstallService">
        </service>
        <service android:name="org.owasp.seraphimdroid.services.SIMCheckService">
        </service>
        <service android:name="org.owasp.seraphimdroid.services.ServicesLockService">
        </service>
        
        <!-- Receiver Declaration -->

        <receiver android:name="org.owasp.seraphimdroid.receiver.CallRecepter" >
            <intent-filter android:priority="1" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.owasp.seraphimdroid.receiver.LockLauncher" >
            <intent-filter android:priority="9999" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.owasp.seraphimdroid.receiver.ApplicationInstallReceiver">
		        <intent-filter android:priority="100">
	         <action android:name="android.intent.action.PACKAGE_INSTALL"/>
	         <action android:name="android.intent.action.PACKAGE_ADDED"/>
	         <data android:scheme="package"/> 
	    </intent-filter>
	    </receiver>
        <receiver
		    android:name="org.owasp.seraphimdroid.receiver.BootReceiver"
		    android:label="BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
        <receiver android:name="org.owasp.seraphimdroid.receiver.SMSRecepter" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.owasp.seraphimdroid.receiver.GeoFencingAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />
        </receiver>
        <receiver android:name="org.owasp.seraphimdroid.receiver.SettingsCheckAlarmReceiver">
        </receiver>
        <receiver android:name="org.owasp.seraphimdroid.receiver.WifiStateReceiver">
		    <intent-filter>
		        <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
		    </intent-filter>
		</receiver>
		<receiver
		        android:name="org.owasp.seraphimdroid.receiver.BluetoothStateReceiver"
		        android:enabled="true">
		    <intent-filter>
		        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
		    </intent-filter>
		</receiver>
		<receiver
		        android:name="org.owasp.seraphimdroid.receiver.MobileDataStateReceiver"
		        android:enabled="true">
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		    </intent-filter>
		</receiver>
		
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC6U7bArEr-3K3vesdsLYqRQ8KwqswHVWs" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
